* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #a306b6;
  align-items: center;
  width: 100%;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}

a:hover {
  background-color: white;
  color: #a306b6;
  padding: 22px;
}

li {
  margin-right: 30px;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-family: "Manrope", sans-serif;
  background-color: #d9d9d9;
  margin: 30px auto;
  border-radius: 7px;
  padding: 20px;
}

h2 {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 900;
}

form {
  margin: 0 20%;
  border: 0;
  border-radius: 20px;
}

form * {
  margin: 4px;
}

div {
  display: flex;
  flex-direction: column;
  margin: auto;
}

label {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 7px;
  height: 40px;
}

textarea {
  background-color: #d9d9d9;
  border: none;
  border-radius: 7px;
}

button {
  background-color: #a306b6;
  color: white;
  font-weight: bold;
  padding: 6px;
  border: none;
  border-radius: 7px;
  width: 72px;
}

footer {
  color: white;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  background-color: gray;
  margin-top: 20px;
  padding: 8px;
}
